In [13]:
import pandas as pd
import numpy as np
import os
from functools import reduce
import glob
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import random

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from scipy.spatial import distance

In [17]:
# --------------------------------------------------
# UPDATE THIS PATH TO WHERE YOUR DATASETS ARE STORED
# Example:
# Windows OneDrive:
# DATA_DIR = r"C:\Users\YourName\OneDrive\crop_yield_datasets"
#
# Mac:
# DATA_DIR = "/Users/YourName/OneDrive/crop_yield_datasets"
# --------------------------------------------------

DATA_DIR = r"C:\Users\Harshada\OneDrive - University of Sussex\MLP Dataset\ML 2025 Coursework Dataset - A1"

In [18]:
def read_data(base_dir):
    Tveg = pd.read_csv(os.path.join(base_dir, "TVeg_tavg_data.csv"))
    TwS = pd.read_csv(os.path.join(base_dir, "TWS_inst_data.csv"))
    yield__and_production = pd.read_csv(os.path.join(base_dir, "Yield_and_Production_data.csv"))
    country_Latitude_longitude = pd.read_csv(
        os.path.join(base_dir, "country_latitude_longitude_area_lookup.csv")
    )

    soiltmp40_100 = pd.read_csv(os.path.join(base_dir, "SoilTMP40_100cm_inst_data.csv"))
    soiltmp10_40 = pd.read_csv(os.path.join(base_dir, "SoilTMP10_40cm_inst_data.csv"))
    soiltemp100_200 = pd.read_csv(os.path.join(base_dir, "SoilTMP100_200cm_inst_data.csv"))
    soiltemp0_10 = pd.read_csv(os.path.join(base_dir, "SoilTMP0_10cm_inst_data.csv"))

    soilmoi100_200 = pd.read_csv(os.path.join(base_dir, "SoilMoi100_200cm_inst_data.csv"))
    soilmoi10_40 = pd.read_csv(os.path.join(base_dir, "SoilMoi10_40cm_inst_data.csv"))
    soilmoi40_100 = pd.read_csv(os.path.join(base_dir, "SoilMoi40_100cm_inst_data.csv"))
    soilmoi0_10 = pd.read_csv(os.path.join(base_dir, "SoilMoi0_10cm_inst_data.csv"))

    snowf_tavg = pd.read_csv(os.path.join(base_dir, "Snowf_tavg_data.csv"))
    rain_tavg = pd.read_csv(os.path.join(base_dir, "Rainf_tavg_data.csv"))
    land_cover = pd.read_csv(os.path.join(base_dir, "Land_cover_percent_data.csv"))
    Esoil_tavg = pd.read_csv(os.path.join(base_dir, "ESoil_tavg_data.csv"))
    canoplnt_tavg = pd.read_csv(os.path.join(base_dir, "CanopInt_inst_data.csv"))

    return (
        Tveg, TwS, yield__and_production, country_Latitude_longitude,
        soiltmp40_100, soiltmp10_40, soiltemp100_200, soiltemp0_10,
        soilmoi100_200, soilmoi10_40, soilmoi40_100, soilmoi0_10,
        snowf_tavg, rain_tavg, land_cover, Esoil_tavg, canoplnt_tavg
    )

In [ ]:
datasets = read_data(DATA_DIR)

dataset_names = [
    "TVeg", "TWS", "Yield and Production", "Country Lookup",
    "SoilTMP40_100", "SoilTMP10_40", "SoilTMP100_200", "SoilTMP0_10",
    "SoilMoi100_200", "SoilMoi10_40", "SoilMoi40_100", "SoilMoi0_10",
    "Snowf_tavg", "Rainf_tavg", "Land Cover", "ESoil_tavg", "CanopInt_tavg"
]

In [ ]:
def summarize_dataframes(dataframes, names):
    """
    Display .head() and .describe() for a list of dataframes.
    """
    for df, name in zip(dataframes, names):
        print(f"\nSummary for: {name}")
        print("Head:")
        print(df.head())
        print("\nDescribe:")
        print(df.describe(include="all"))
        print("-" * 60)

summarize_dataframes(datasets, dataset_names)

In [ ]:
base_dir = "ml_dataset"
datasets = read_data(base_dir)

dataset_names = [
    "TVeg", "TWS", "Yield and Production", "Country Lookup",
    "SoilTMP40_100", "SoilTMP10_40", "SoilTMP100_200", "SoilTMP0_10",
    "SoilMoi100_200", "SoilMoi10_40", "SoilMoi40_100", "SoilMoi0_10",
    "Snowf_tavg", "Rainf_tavg", "Land Cover", "ESoil_tavg", "CanopInt_tavg"
]

summarize_dataframes(datasets, dataset_names)

 Summary for: TVeg
 Head:
   longitude  latitude  TVeg_tavg_month_1  TVeg_tavg_month_2  \
0      -71.5     -54.5           1.332788           1.533512
1      -70.5     -54.5           1.249232           1.139860
2      -69.5     -54.5           1.533212           1.052825
3      -68.5     -54.5           8.139574           4.556105
4      -67.5     -54.5          15.640950          10.241190

   TVeg_tavg_month_3  TVeg_tavg_month_4  TVeg_tavg_month_5  TVeg_tavg_month_6  \
0           0.777899           0.042899           0.001958           0.002436
1           0.767769           0.026896           0.006372           0.006287
2           0.794003           0.018582           0.006218           0.004723
3           2.563924           0.179212           0.005834           0.004620
4           5.407119           0.476426           0.002584           0.003083

   TVeg_tavg_month_7  TVeg_tavg_month_8  TVeg_tavg_month_9  \
0           0.004742           0.008161           0.008216
1           0.014967           0.015412           0.015222
2           0.007910           0.008778           0.006228
3           0.009237           0.007150           0.095215
4           0.007449           0.005856           0.311975

   TVeg_tavg_month_10  TVeg_tavg_month_11  TVeg_tavg_month_12  year
0            0.580715            0.966192            0.613053  2010
1            0.441140            1.091211            0.966824  2010
2            0.391517            1.025478            0.725829  2010
3            2.216988            6.031507            6.690774  2010
4            4.748641           11.175600           13.808090  2010

 Describe:
           longitude       latitude  TVeg_tavg_month_1  TVeg_tavg_month_2  \
count  194298.000000  194298.000000      194298.000000      194298.000000
mean       18.470226      32.124247          10.988878          11.143278
std        84.415994      31.688224          25.351465          25.248771
min      -176.500000     -54.500000         -46.141340          -0.000140
25%       -61.500000       9.500000           0.000000           0.000000
50%        27.500000      39.500000           0.001546           0.002582
75%        90.500000      58.500000           1.720529           2.394969
max       176.500000      79.500000         217.432300         197.657400

       TVeg_tavg_month_3  TVeg_tavg_month_4  TVeg_tavg_month_5  \
count      194298.000000      194298.000000      194298.000000
mean           11.846385          13.876047          19.238970
std            25.607586          26.072951          27.246208
min           -19.998310          -9.764996         -28.481140
25%             0.000000           0.000701           0.108783
50%             0.054265           1.133819           5.506138
75%             5.127605          12.366978          29.892398
max           170.534800         164.943500         175.565300

       TVeg_tavg_month_6  TVeg_tavg_month_7  TVeg_tavg_month_8  \
count      194298.000000      194298.000000      194298.000000
mean           27.048880          30.272742          24.415314
std            32.086562          34.714372          30.402068
min           -29.693230         -36.209340         -16.622240
25%             0.342414           0.297109           0.183415
50%            13.724910          18.026875          11.988055
75%            46.269233          50.413272          40.786025
max           186.577300         195.999500         204.626400

       TVeg_tavg_month_9  TVeg_tavg_month_10  TVeg_tavg_month_11  \
count      194298.000000       194298.000000       194298.000000
mean           16.591696           12.813626           11.636005
std            26.973344           25.846694           25.594481
min           -31.444990          -30.156940          -21.930200
25%             0.111953            0.009199            0.000169
50%             3.601287            0.660812            0.056828
75%            20.587350            9.251145            4.403711
max           215.401100          198.301100          181.473100

       TVeg_tavg_month_12           year
count       194298.000000  194298.000000
mean            11.038243    2016.000000
std             25.098736       3.741667
min             -0.000251    2010.000000
25%              0.000000    2013.000000
50%              0.004695    2016.000000
75%              2.402798    2019.000000
max            210.268600    2022.000000
------------------------------------------------------------

 Summary for: TWS
 Head:
   longitude  latitude  TWS_inst_month_1  TWS_inst_month_2  TWS_inst_month_3  \
0      -71.5     -54.5          1364.356          1363.323          1367.934
1      -70.5     -54.5          1385.097          1389.880          1395.927
2      -69.5     -54.5          1203.449          1205.621          1204.402
3      -68.5     -54.5          1251.723          1247.426          1240.323
4      -67.5     -54.5          1229.677          1214.555          1203.786

   TWS_inst_month_4  TWS_inst_month_5  TWS_inst_month_6  TWS_inst_month_7  \
0          1390.243          1415.379          1437.813          1446.323
1          1414.749          1434.277          1451.274          1457.147
2          1219.279          1239.587          1260.935          1272.125
3          1255.152          1280.567          1315.448          1339.417
4          1221.138          1255.050          1297.865          1324.209

   TWS_inst_month_8  TWS_inst_month_9  TWS_inst_month_10  TWS_inst_month_11  \
0          1451.915          1447.663           1437.027           1415.876
1          1459.398          1453.307           1443.640           1422.731
2          1280.613          1277.765           1268.606           1242.112
3          1363.546          1370.051           1364.368           1331.838
4          1355.199          1365.196           1365.242           1335.022

   TWS_inst_month_12  year
0           1391.918  2010
1           1402.155  2010
2           1215.113  2010
3           1295.782  2010
4           1303.094  2010

 Describe:
           longitude       latitude  TWS_inst_month_1  TWS_inst_month_2  \
count  194298.000000  194298.000000     194298.000000     179352.000000
mean       18.470226      32.124247       1087.174085       1104.600010
std        84.415994      31.688224        505.095497        513.457822
min      -176.500000     -54.500000        111.240300        111.230700
25%       -61.500000       9.500000        721.589675        730.539850
50%        27.500000      39.500000       1020.248000       1034.446000
75%        90.500000      58.500000       1393.951750       1420.062250
max       176.500000      79.500000       3894.978000       3872.157000

       TWS_inst_month_3  TWS_inst_month_4  TWS_inst_month_5  TWS_inst_month_6  \
count     179352.000000     194298.000000     194298.000000     194298.000000
mean        1116.080054       1115.538332       1100.974507       1074.408108
std          521.724401        524.663146        516.611264        501.239644
min          111.214900        111.203800        110.923500        111.095200
25%          733.730225        729.166525        721.091000        711.224225
50%         1044.223500       1042.483000       1029.620000       1005.291500
75%         1439.623250       1443.101750       1419.769250       1372.567500
max         3906.675000       3906.185000       3878.317000       3849.530000

       TWS_inst_month_7  TWS_inst_month_8  TWS_inst_month_9  \
count     194298.000000     194298.000000     194298.000000
mean        1048.353847       1031.731996       1030.246470
std          487.498144        478.180259        478.133806
min          110.965000        110.927000        110.939400
25%          701.861950        699.737600        699.549925
50%          980.244850        963.617250        961.568150
75%         1328.648000       1305.342250       1307.331750
max         3807.894000       3813.638000       3873.436000

       TWS_inst_month_10  TWS_inst_month_11  TWS_inst_month_12           year
count      194298.000000      194298.000000      194298.000000  194298.000000
mean         1037.634830        1051.813122        1068.276387    2016.000000
std           482.957438         489.518445         496.298989       3.741667
min           110.816300         110.837200         110.882100    2010.000000
25%           700.498800         705.061525         712.053675    2013.000000
50%           968.637750         984.309400        1001.926500    2016.000000
75%          1320.220000        1341.007000        1366.912000    2019.000000
max          3955.113000        3951.859000        3822.010000    2022.000000
------------------------------------------------------------

 Summary for: Yield and Production
 Head:
                         Domain      Country     Element Item Code (CPC)  \
0  Crops and livestock products  Afghanistan       Yield           01341
1  Crops and livestock products  Afghanistan  Production           01341
2  Crops and livestock products  Afghanistan       Yield           01341
3  Crops and livestock products  Afghanistan  Production           01341
4  Crops and livestock products  Afghanistan       Yield           01341

     Item  Year    Value Flag
0  Apples  2010   7000.0    A
1  Apples  2010  59850.0    A
2  Apples  2011   7000.0    A
3  Apples  2011  62041.0    A
4  Apples  2012   7651.9    A

 Describe:
                              Domain Country     Element Item Code (CPC)  \
count                         158269  158269      158269          158269
unique                             1     201           2             102
top     Crops and livestock products   China  Production           F1720
freq                          158269    1959       82796            5079
mean                             NaN     NaN         NaN             NaN
std                              NaN     NaN         NaN             NaN
min                              NaN     NaN         NaN             NaN
25%                              NaN     NaN         NaN             NaN
50%                              NaN     NaN         NaN             NaN
75%                              NaN     NaN         NaN             NaN
max                              NaN     NaN         NaN             NaN

                           Item           Year         Value    Flag
count                    158269  158269.000000  1.582690e+05  158269
unique                      102            NaN           NaN       5
top     Roots and Tubers, Total            NaN           NaN       A
freq                       5079            NaN           NaN   90818
mean                        NaN    2016.021400  8.734827e+05     NaN
std                         NaN       3.740732  1.275511e+07     NaN
min                         NaN    2010.000000  0.000000e+00     NaN
25%                         NaN    2013.000000  1.438000e+03     NaN
50%                         NaN    2016.000000  6.581600e+03     NaN
75%                         NaN    2019.000000  3.414210e+04     NaN
max                         NaN    2022.000000  7.685942e+08     NaN
------------------------------------------------------------

 Summary for: Country Lookup
 Head:
   centroid latitude  centroid longitude         country     area  \
0          33.939110           67.709953     Afghanistan   652090
1          41.153332           20.168331         Albania    28748
2          28.033886            1.659626         Algeria  2381741
3         -14.270972         -170.132217  American Samoa      199
4          42.546245            1.601554         Andorra      468

   centroid radius
0         4.555949
1         0.956597
2         8.707076
3         0.079589
4         0.122053

 Describe:
        centroid latitude  centroid longitude      country area  \
count          244.000000          244.000000          245  239
unique                NaN                 NaN          245  238
top                   NaN                 NaN  Afghanistan   26
freq                  NaN                 NaN            1    2
mean            16.253109           13.294814          NaN  NaN
std             27.031206           73.976477          NaN  NaN
min            -75.250973         -177.156097          NaN  NaN
25%             -0.301710          -38.092008          NaN  NaN
50%             16.869235           18.182149          NaN  NaN
75%             38.965238           49.046734          NaN  NaN
max             77.553604          179.414413          NaN  NaN

        centroid radius
count        245.000000
unique              NaN
top                 NaN
freq                NaN
mean           2.605440
std            3.579032
min            0.000000
25%            0.210572
50%            1.445141
75%            3.501409
max           23.329251
------------------------------------------------------------

 Summary for: SoilTMP40_100
 Head:
   longitude  latitude  SoilTMP40_100cm_inst_month_1  \
0      -71.5     -54.5                      279.8784
1      -70.5     -54.5                      278.7579
2      -69.5     -54.5                      277.1483
3      -68.5     -54.5                      279.1988
4      -67.5     -54.5                      279.8951

   SoilTMP40_100cm_inst_month_2  SoilTMP40_100cm_inst_month_3  \
0                      279.8392                      280.1884
1                      278.6147                      278.8850
2                      277.1247                      277.3032
3                      279.2660                      279.3397
4                      279.9917                      280.0016

   SoilTMP40_100cm_inst_month_4  SoilTMP40_100cm_inst_month_5  \
0                      279.2221                      278.2829
1                      277.8550                      276.9554
2                      276.3765                      275.4994
3                      277.9064                      276.5087
4                      278.5459                      276.9829

   SoilTMP40_100cm_inst_month_6  SoilTMP40_100cm_inst_month_7  \
0                      276.6575                      275.7943
1                      275.3823                      274.4518
2                      274.1137                      273.2312
3                      274.4046                      273.3827
4                      274.7752                      273.5130

   SoilTMP40_100cm_inst_month_8  SoilTMP40_100cm_inst_month_9  \
0                      275.6838                      276.2171
1                      274.3740                      275.0652
2                      272.9692                      272.9401
3                      273.1446                      273.1064
4                      273.2427                      273.8535

   SoilTMP40_100cm_inst_month_10  SoilTMP40_100cm_inst_month_11  \
0                       277.3404                       278.8163
1                       276.3855                       278.0777
2                       273.6472                       275.9944
3                       273.8294                       277.4760
4                       276.3153                       278.6331

   SoilTMP40_100cm_inst_month_12  year
0                       278.8055  2010
1                       278.0848  2010
2                       276.2906  2010
3                       278.1266  2010
4                       278.9354  2010

 Describe:
           longitude       latitude  SoilTMP40_100cm_inst_month_1  \
count  194298.000000  194298.000000                 194298.000000
mean       18.470226      32.124247                    280.005362
std        84.415994      31.688224                     15.040659
min      -176.500000     -54.500000                    240.635500
25%       -61.500000       9.500000                    268.435200
50%        27.500000      39.500000                    275.230400
75%        90.500000      58.500000                    295.724675
max       176.500000      79.500000                    311.046600

       SoilTMP40_100cm_inst_month_2  SoilTMP40_100cm_inst_month_3  \
count                 194298.000000                 194298.000000
mean                     279.532136                    280.038762
std                       15.642954                     15.975741
min                      238.742600                    240.341100
25%                      267.709325                    267.877525
50%                      274.338700                    276.576500
75%                      295.834875                    296.473100
max                      311.068100                    310.255000

       SoilTMP40_100cm_inst_month_4  SoilTMP40_100cm_inst_month_5  \
count                 194298.000000                 194298.000000
mean                     281.483136                    283.664585
std                       15.791438                     14.889407
min                      241.224300                    243.722200
25%                      269.677750                    272.303650
50%                      280.516450                    284.083400
75%                      297.106400                    297.574500
max                      309.836900                    311.282000

       SoilTMP40_100cm_inst_month_6  SoilTMP40_100cm_inst_month_7  \
count                 194298.000000                 194298.000000
mean                     286.337519                    288.491147
std                       13.263494                     11.856973
min                      247.493500                    247.429300
25%                      275.314325                    279.114900
50%                      287.041150                    288.683000
75%                      297.812350                    298.165975
max                      312.638700                    313.529700

       SoilTMP40_100cm_inst_month_8  SoilTMP40_100cm_inst_month_9  \
count                 194298.000000                 194298.000000
mean                     289.488876                    288.877534
std                       11.300800                     11.473124
min                      249.064700                    248.996200
25%                      280.542575                    279.974350
50%                      289.858300                    289.572150
75%                      298.448975                    298.443425
max                      314.659300                    312.974100

       SoilTMP40_100cm_inst_month_10  SoilTMP40_100cm_inst_month_11  \
count                  194298.000000                  194298.000000
mean                      286.766819                     283.961164
std                        12.251684                      13.308307
min                       248.800100                     248.607700
25%                       276.318475                     273.120600
50%                       286.744900                     282.288850
75%                       298.342775                     297.588075
max                       310.795000                     308.660600

       SoilTMP40_100cm_inst_month_12           year
count                  194298.000000  194298.000000
mean                      281.515228    2016.000000
std                        14.279651       3.741667
min                       246.368900    2010.000000
25%                       270.273225    2013.000000
50%                       277.836350    2016.000000
75%                       296.427975    2019.000000
max                       310.419400    2022.000000
------------------------------------------------------------

 Summary for: SoilTMP10_40
 Head:
   longitude  latitude  SoilTMP10_40cm_inst_month_1  \
0      -71.5     -54.5                     280.3124
1      -70.5     -54.5                     279.1251
2      -69.5     -54.5                     277.4836
3      -68.5     -54.5                     279.7251
4      -67.5     -54.5                     280.3994

   SoilTMP10_40cm_inst_month_2  SoilTMP10_40cm_inst_month_3  \
0                     279.9978                     280.1956

In [ ]:
dataframes_to_process  = {
    'Tveg_tavg': Tveg,
    'TWS_inst': TwS,
    'SoilTMP40_100cm': soiltmp40_100,
    'SoilTMP10_40cm': soiltmp10_40,
    'SoilTMP100_200cm': soiltemp100_200,
    'SoilTMP0_10cm': soiltemp0_10,
    'SoilMoi100_200cm': soilmoi100_200,
    'SoilMoi10_40cm': soilmoi10_40,
    'SoilMoi40_100cm': soilmoi40_100,
    'SoilMoi0_10cm': soilmoi0_10,
    'Snowf_tavg': snowf_tavg,
    'Rainf_tavg': rain_tavg,
    'ESoil_tavg': Esoil_tavg,
    'CanopInt_inst': canoplnt_tavg
}

In [ ]:
def compute_patterned_yearly_average_df(df, var_name, month_prefix="_month_"):
    monthly_cols = [col for col in df.columns if any(col.endswith(f"{month_prefix}{i}") for i in range(1, 13))]

    if not monthly_cols:
        raise ValueError(f"No monthly columns found for {var_name}.")

    df = df.copy()
    df[f'{var_name}_annual_avg'] = df[monthly_cols].mean(axis=1)
    df.drop(columns=monthly_cols, inplace=True)

    return df

In [ ]:
for name, df in dataframes_to_process.items():  # dfs = {name: DataFrame}
    processed_df = compute_patterned_yearly_average_df(df, name)
    print(f"\n=== {name} ===")
    print(processed_df.head())

=== Tveg_tavg ===
   longitude  latitude  year  Tveg_tavg_annual_avg
0      -71.5     -54.5  2010              0.489381
1      -70.5     -54.5  2010              0.478433
2      -69.5     -54.5  2010              0.464609
3      -68.5     -54.5  2010              2.541678
4      -67.5     -54.5  2010              5.152414

=== TWS_inst ===
   longitude  latitude  year  TWS_inst_annual_avg
0      -71.5     -54.5  2010          1410.814167
1      -70.5     -54.5  2010          1425.798500
2      -69.5     -54.5  2010          1240.800583
3      -68.5     -54.5  2010          1304.636750
4      -67.5     -54.5  2010          1289.169417

=== SoilTMP40_100cm ===
   longitude  latitude  year  SoilTMP40_100cm_annual_avg
0      -71.5     -54.5  2010                  278.060492
1      -70.5     -54.5  2010                  276.907442
2      -69.5     -54.5  2010                  275.219875
3      -68.5     -54.5  2010                  276.307492
4      -67.5     -54.5  2010                  277.057117

=== SoilTMP10_40cm ===
   longitude  latitude  year  SoilTMP10_40cm_annual_avg
0      -71.5     -54.5  2010                 278.037967
1      -70.5     -54.5  2010                 276.874533
2      -69.5     -54.5  2010                 275.158975
3      -68.5     -54.5  2010                 276.270833
4      -67.5     -54.5  2010                 277.050583

=== SoilTMP100_200cm ===
   longitude  latitude  year  SoilTMP100_200cm_annual_avg
0      -71.5     -54.5  2010                   278.098683
1      -70.5     -54.5  2010                   276.964208
2      -69.5     -54.5  2010                   275.369758
3      -68.5     -54.5  2010                   276.468267
4      -67.5     -54.5  2010                   277.114250

=== SoilTMP0_10cm ===
   longitude  latitude  year  SoilTMP0_10cm_annual_avg
0      -71.5     -54.5  2010                278.062800
1      -70.5     -54.5  2010                276.880392
2      -69.5     -54.5  2010                275.207533
3      -68.5     -54.5  2010                276.526433
4      -67.5     -54.5  2010                277.278858

=== SoilMoi100_200cm ===
   longitude  latitude  year  SoilMoi100_200cm_annual_avg
0      -71.5     -54.5  2010                   269.236008
1      -70.5     -54.5  2010                   351.342075
2      -69.5     -54.5  2010                   458.367008
3      -68.5     -54.5  2010                   250.297008
4      -67.5     -54.5  2010                   242.497500

=== SoilMoi10_40cm ===
   longitude  latitude  year  SoilMoi10_40cm_annual_avg
0      -71.5     -54.5  2010                  80.720931
1      -70.5     -54.5  2010                 105.392675
2      -69.5     -54.5  2010                 143.568792
3      -68.5     -54.5  2010                  83.348517
4      -67.5     -54.5  2010                  78.737764

=== SoilMoi40_100cm ===
   longitude  latitude  year  SoilMoi40_100cm_annual_avg
0      -71.5     -54.5  2010                  161.612975
1      -70.5     -54.5  2010                  210.755892
2      -69.5     -54.5  2010                  275.988775
3      -68.5     -54.5  2010                  149.835692
4      -67.5     -54.5  2010                  143.966250

=== SoilMoi0_10cm ===
   longitude  latitude  year  SoilMoi0_10cm_annual_avg
0      -71.5     -54.5  2010                 26.783010
1      -70.5     -54.5  2010                 35.125623
2      -69.5     -54.5  2010                 47.525823
3      -68.5     -54.5  2010                 28.041316
4      -67.5     -54.5  2010                 26.232962

=== Snowf_tavg ===
   longitude  latitude  year  Snowf_tavg_annual_avg
0      -71.5     -54.5  2010           3.019042e-07
1      -70.5     -54.5  2010           3.672619e-07
2      -69.5     -54.5  2010           1.703200e-06
3      -68.5     -54.5  2010           1.325932e-06
4      -67.5     -54.5  2010           6.783212e-07

=== Rainf_tavg ===
   longitude  latitude  year  Rainf_tavg_annual_avg
0      -71.5     -54.5  2010               0.000029
1      -70.5     -54.5  2010               0.000021
2      -69.5     -54.5  2010               0.000016
3      -68.5     -54.5  2010               0.000016
4      -67.5     -54.5  2010               0.000020

=== ESoil_tavg ===
   longitude  latitude  year  ESoil_tavg_annual_avg
0      -71.5     -54.5  2010              32.854129
1      -70.5     -54.5  2010              21.669016
2      -69.5     -54.5  2010              18.996636
3      -68.5     -54.5  2010              22.848139
4      -67.5     -54.5  2010              25.023299

=== CanopInt_inst ===
   longitude  latitude  year  CanopInt_inst_annual_avg
0      -71.5     -54.5  2010                  0.085151
1      -70.5     -54.5  2010                  0.076606
2      -69.5     -54.5  2010                  0.075086
3      -68.5     -54.5  2010                  0.084879
4      -67.5     -54.5  2010                  0.097723

In [ ]:
yield__and_production.head()

,Domain,Country,Element,Item Code (CPC),Item,Year,Value,Flag
0,Crops and livestock products,Afghanistan,Yield,01341,Apples,2010,7000.0,A
1,Crops and livestock products,Afghanistan,Production,01341,Apples,2010,59850.0,A
2,Crops and livestock products,Afghanistan,Yield,01341,Apples,2011,7000.0,A
3,Crops and livestock products,Afghanistan,Production,01341,Apples,2011,62041.0,A
4,Crops and livestock products,Afghanistan,Yield,01341,Apples,2012,7651.9,A

In [ ]:
# Standardize column names
yield__and_production.columns = yield__and_production.columns.str.strip().str.lower()

# Keep only records where element is 'yield'
yield_df = yield__and_production[yield__and_production['element'].str.lower() == 'yield']

# Reset index
yield_df.reset_index(drop=True, inplace=True)

# Final check
print("Filtered dataset (only Yield) shape:", yield_df.shape)
print(yield_df[['domain','country', 'year', 'item', 'element', 'value']].head())

Filtered dataset (only Yield) shape: (75473, 8)
                         domain      country  year    item element   value
0  Crops and livestock products  Afghanistan  2010  Apples   Yield  7000.0
1  Crops and livestock products  Afghanistan  2011  Apples   Yield  7000.0
2  Crops and livestock products  Afghanistan  2012  Apples   Yield  7651.9
3  Crops and livestock products  Afghanistan  2013  Apples   Yield  7600.5
4  Crops and livestock products  Afghanistan  2014  Apples   Yield  7300.0

In [ ]:
yield_df.head()

,domain,country,element,item code (cpc),item,year,value,flag
0,Crops and livestock products,Afghanistan,Yield,01341,Apples,2010,7000.0,A
1,Crops and livestock products,Afghanistan,Yield,01341,Apples,2011,7000.0,A
2,Crops and livestock products,Afghanistan,Yield,01341,Apples,2012,7651.9,A
3,Crops and livestock products,Afghanistan,Yield,01341,Apples,2013,7600.5,A
4,Crops and livestock products,Afghanistan,Yield,01341,Apples,2014,7300.0,A

In [ ]:
del yield_df['domain']

In [ ]:
yield_df['year'] = yield_df['year'] - 1

C:\Users\Harshada\AppData\Local\Temp\ipykernel_26512\479920114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yield_df['year'] = yield_df['year'] - 1

In [ ]:
yield_df.head()

       country element item code (cpc)    item  year   value flag
0  Afghanistan   Yield           01341  Apples  2009  7000.0    A
1  Afghanistan   Yield           01341  Apples  2010  7000.0    A
2  Afghanistan   Yield           01341  Apples  2011  7651.9    A
3  Afghanistan   Yield           01341  Apples  2012  7600.5    A
4  Afghanistan   Yield           01341  Apples  2013  7300.0    A

In [ ]:
country_Latitude_longitude.head()

,centroid latitude,centroid longitude,country,area,centroid radius
0,33.939110,67.709953,Afghanistan,652090,4.555949
1,41.153332,20.168331,Albania,28748,0.956597
2,28.033886,1.659626,Algeria,2381741,8.707076
3,-14.270972,-170.132217,American Samoa,199,0.079589
4,42.546245,1.601554,Andorra,468,0.122053

In [ ]:
land_cover.columns = land_cover.columns.str.strip()
class_cols = [col for col in land_cover.columns if 'class' in col.lower()]

# Step 2: Create a new column with the maximum class percentage per row
land_cover['land_cover_max'] = land_cover[class_cols].max(axis=1)

# Step 3: Drop the original 13 class columns
land_cover.drop(columns=class_cols, inplace=True)

# Step 4: Confirm result
print("Processed land cover shape:", land_cover.shape)
print(land_cover.head())

Processed land cover shape: (644280, 4)
   longitude  latitude  year  land_cover_max
0     -176.5     -59.5  2010             100
1     -175.5     -59.5  2010             100
2     -174.5     -59.5  2010             100
3     -173.5     -59.5  2010             100
4     -172.5     -59.5  2010             100

In [ ]:
land_cover.head()

   longitude  latitude  year  land_cover_max
0     -176.5     -59.5  2010             100
1     -175.5     -59.5  2010             100
2     -174.5     -59.5  2010             100
3     -173.5     -59.5  2010             100
4     -172.5     -59.5  2010             100

In [ ]:
# Correct data directory
data_dir = "ml_dataset"
csv_files = glob.glob(f"{data_dir}/*.csv")

annual_avg_dfs = {}

# Process each file for annual average
for file_path in csv_files:
    df = pd.read_csv(file_path)

    # Match monthly columns (e.g., *_month_1 to *_month_12)
    monthly_cols = [col for col in df.columns if '_month_' in col.lower()]

    if monthly_cols:
        var_name = monthly_cols[0].rsplit('_month_', 1)[0]
        df[f'{var_name}_annual_avg'] = df[monthly_cols].mean(axis=1)
        df_avg = df[['longitude', 'latitude', 'year', f'{var_name}_annual_avg']]
        annual_avg_dfs[var_name] = df_avg

#Merge all processed DataFrames
dfs_to_merge = list(annual_avg_dfs.values())

if dfs_to_merge:
    merged_df = reduce(
        lambda left, right: pd.merge(left, right, on=['longitude', 'latitude', 'year'], how='outer'),
        dfs_to_merge
    )
    print("\nMerged DataFrame shape:", merged_df.shape)
    print(merged_df.head())
else:
    print("No annual average datasets found.")

Merged DataFrame shape: (194298, 17)
   longitude  latitude  year  CanopInt_inst_annual_avg  ESoil_tavg_annual_avg  \
0     -176.5      66.5  2010                  0.021199              17.154338
1     -176.5      66.5  2011                  0.020344              18.033296
2     -176.5      66.5  2012                  0.021931              19.889972
3     -176.5      66.5  2013                  0.022761              17.504125
4     -176.5      66.5  2014                  0.020658              19.887469

   Rainf_tavg_annual_avg  Snowf_tavg_annual_avg  \
0               0.000005               0.000010
1               0.000006               0.000012
2               0.000006               0.000007
3               0.000005               0.000010
4               0.000006               0.000011

   SoilMoi0_10cm_inst_annual_avg  SoilMoi100_200cm_inst_annual_avg  \
0                      26.407989                        438.930208
1                      24.785870                        438.867867
2                      23.110597                        438.982892
3                      23.154087                        438.962050
4                      24.021897                        438.961500

   SoilMoi10_40cm_inst_annual_avg  SoilMoi40_100cm_inst_annual_avg  \
0                       76.372438                       152.794492
1                       78.435821                       159.316100
2                       73.777794                       153.990867
3                       71.322145                       149.705025
4                       72.097313                       151.713192

   SoilTMP0_10cm_inst_annual_avg  SoilTMP100_200cm_inst_annual_avg  \
0                     270.168200                        269.068517
1                     269.721758                        269.231975
2                     267.992025                        268.356092
3                     268.842867                        267.859933
4                     270.133958                        268.987850

   SoilTMP10_40cm_inst_annual_avg  SoilTMP40_100cm_inst_annual_avg  \
0                      270.918725                       270.262075
1                      270.624200                       270.150625
2                      269.390725                       269.069417
3                      269.631342                       268.990600
4                      270.668650                       270.079450

   TVeg_tavg_annual_avg  TWS_inst_annual_avg
0              1.865024          1387.448833
1              1.423547          1432.049750
2              2.027180          1385.389417
3              1.765119          1367.282083
4              2.238372          1406.019583

In [ ]:
# Step 1: Drop duplicates
merged_df_cleaned = merged_df.drop_duplicates()

# Step 2: Drop rows with any NaN/null values
merged_df_cleaned = merged_df_cleaned.dropna()

# Optional: Reset index
merged_df_cleaned.reset_index(drop=True, inplace=True)

# Check final result
print("Cleaned merged DataFrame shape:", merged_df_cleaned.shape)
print(merged_df_cleaned.head())

Cleaned merged DataFrame shape: (194298, 17)
   longitude  latitude  year  CanopInt_inst_annual_avg  ESoil_tavg_annual_avg  \
0     -176.5      66.5  2010                  0.021199              17.154338
1     -176.5      66.5  2011                  0.020344              18.033296
2     -176.5      66.5  2012                  0.021931              19.889972
3     -176.5      66.5  2013                  0.022761              17.504125
4     -176.5      66.5  2014                  0.020658              19.887469

   Rainf_tavg_annual_avg  Snowf_tavg_annual_avg  \
0               0.000005               0.000010
1               0.000006               0.000012
2               0.000006               0.000007
3               0.000005               0.000010
4               0.000006               0.000011

   SoilMoi0_10cm_inst_annual_avg  SoilMoi100_200cm_inst_annual_avg  \
0                      26.407989                        438.930208
1                      24.785870                        438.867867
2                      23.110597                        438.982892
3                      23.154087                        438.962050
4                      24.021897                        438.961500

   SoilMoi10_40cm_inst_annual_avg  SoilMoi40_100cm_inst_annual_avg  \
0                       76.372438                       152.794492
1                       78.435821                       159.316100
2                       73.777794                       153.990867
3                       71.322145                       149.705025
4                       72.097313                       151.713192

   SoilTMP0_10cm_inst_annual_avg  SoilTMP100_200cm_inst_annual_avg  \
0                     270.168200                        269.068517
1                     269.721758                        269.231975
2                     267.992025                        268.356092
3                     268.842867                        267.859933
4                     270.133958                        268.987850

   SoilTMP10_40cm_inst_annual_avg  SoilTMP40_100cm_inst_annual_avg  \
0                      270.918725                       270.262075
1                      270.624200                       270.150625
2                      269.390725                       269.069417
3                      269.631342                       268.990600
4                      270.668650                       270.079450

   TVeg_tavg_annual_avg  TWS_inst_annual_avg
0              1.865024          1387.448833
1              1.423547          1432.049750
2              2.027180          1385.389417
3              1.765119          1367.282083
4              2.238372          1406.019583

In [ ]:
merged_df_cleaned.head()

,longitude,latitude,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,SoilTMP0_10cm_inst_annual_avg,SoilTMP100_200cm_inst_annual_avg,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg
0,-176.5,66.5,2010,0.021199,17.154338,0.000005,0.000010,26.407989,438.930208,76.372438,152.794492,270.168200,269.068517,270.918725,270.262075,1.865024,1387.448833
1,-176.5,66.5,2011,0.020344,18.033296,0.000006,0.000012,24.785870,438.867867,78.435821,159.316100,269.721758,269.231975,270.624200,270.150625,1.423547,1432.049750
2,-176.5,66.5,2012,0.021931,19.889972,0.000006,0.000007,23.110597,438.982892,73.777794,153.990867,267.992025,268.356092,269.390725,269.069417,2.027180,1385.389417
3,-176.5,66.5,2013,0.022761,17.504125,0.000005,0.000010,23.154087,438.962050,71.322145,149.705025,268.842867,267.859933,269.631342,268.990600,1.765119,1367.282083
4,-176.5,66.5,2014,0.020658,19.887469,0.000006,0.000011,24.021897,438.961500,72.097313,151.713192,270.133958,268.987850,270.668650,270.079450,2.238372,1406.019583

In [ ]:
# Load both datasets (if not already loaded)
# merged_df_cleaned = ...  # already exists
country_lookup = pd.read_csv("ml_dataset/country_latitude_longitude_area_lookup.csv")
country_lookup.columns = country_lookup.columns.str.strip().str.lower()

# Rename centroid columns for easier access
country_lookup.rename(columns={
    'centroid latitude': 'centroid_latitude',
    'centroid longitude': 'centroid_longitude'
}, inplace=True)

# Keep only necessary columns
country_centroids = country_lookup[['country', 'centroid_latitude', 'centroid_longitude']].dropna()

# Step 1: Convert to NumPy arrays for fast computation
points = merged_df_cleaned[['latitude', 'longitude']].to_numpy()
centroids = country_centroids[['centroid_latitude', 'centroid_longitude']].to_numpy()

# Step 2: For each point, compute distance to each country centroid
nearest_country_indices = np.argmin(distance.cdist(points, centroids, metric='euclidean'), axis=1)

# Step 3: Map nearest countries
merged_df_cleaned['country'] = country_centroids.iloc[nearest_country_indices].reset_index(drop=True)['country']

# Step 4: Final result
print("Country-mapped merged_df_cleaned shape:", merged_df_cleaned.shape)
print(merged_df_cleaned[['latitude', 'longitude', 'country']].head())

Country-mapped merged_df_cleaned shape: (194298, 18)
   latitude  longitude   country
0      66.5     -176.5  Kiribati
1      66.5     -176.5  Kiribati
2      66.5     -176.5  Kiribati
3      66.5     -176.5  Kiribati
4      66.5     -176.5  Kiribati

In [ ]:
merged_df_cleaned.head()

,longitude,latitude,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,SoilTMP0_10cm_inst_annual_avg,SoilTMP100_200cm_inst_annual_avg,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg,country
0,-176.5,66.5,2010,0.021199,17.154338,0.000005,0.000010,26.407989,438.930208,76.372438,152.794492,270.168200,269.068517,270.918725,270.262075,1.865024,1387.448833,Kiribati
1,-176.5,66.5,2011,0.020344,18.033296,0.000006,0.000012,24.785870,438.867867,78.435821,159.316100,269.721758,269.231975,270.624200,270.150625,1.423547,1432.049750,Kiribati
2,-176.5,66.5,2012,0.021931,19.889972,0.000006,0.000007,23.110597,438.982892,73.777794,153.990867,267.992025,268.356092,269.390725,269.069417,2.027180,1385.389417,Kiribati
3,-176.5,66.5,2013,0.022761,17.504125,0.000005,0.000010,23.154087,438.962050,71.322145,149.705025,268.842867,267.859933,269.631342,268.990600,1.765119,1367.282083,Kiribati
4,-176.5,66.5,2014,0.020658,19.887469,0.000006,0.000011,24.021897,438.961500,72.097313,151.713192,270.133958,268.987850,270.668650,270.079450,2.238372,1406.019583,Kiribati

In [ ]:
# Merge land_cover with merged_df_cleaned on ['longitude', 'latitude', 'year']
merged_df_with_land_cover = pd.merge(
    merged_df_cleaned,
    land_cover,
    on=['longitude', 'latitude', 'year'],
    how='left'
)

# Final check
print("Merged shape with land_cover:", merged_df_with_land_cover.shape)
print(merged_df_with_land_cover[['longitude', 'latitude', 'year', 'land_cover_max']].head())  # Adjust if column name differs

Merged shape with land_cover: (194298, 19)
   longitude  latitude  year  land_cover_max
0     -176.5      66.5  2010             100
1     -176.5      66.5  2011             100
2     -176.5      66.5  2012             100
3     -176.5      66.5  2013             100
4     -176.5      66.5  2014             100

In [ ]:
merged_df_with_land_cover.head()

,longitude,latitude,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,SoilTMP0_10cm_inst_annual_avg,SoilTMP100_200cm_inst_annual_avg,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg,country,land_cover_max
0,-176.5,66.5,2010,0.021199,17.154338,0.000005,0.000010,26.407989,438.930208,76.372438,152.794492,270.168200,269.068517,270.918725,270.262075,1.865024,1387.448833,Kiribati,100
1,-176.5,66.5,2011,0.020344,18.033296,0.000006,0.000012,24.785870,438.867867,78.435821,159.316100,269.721758,269.231975,270.624200,270.150625,1.423547,1432.049750,Kiribati,100
2,-176.5,66.5,2012,0.021931,19.889972,0.000006,0.000007,23.110597,438.982892,73.777794,153.990867,267.992025,268.356092,269.390725,269.069417,2.027180,1385.389417,Kiribati,100
3,-176.5,66.5,2013,0.022761,17.504125,0.000005,0.000010,23.154087,438.962050,71.322145,149.705025,268.842867,267.859933,269.631342,268.990600,1.765119,1367.282083,Kiribati,100
4,-176.5,66.5,2014,0.020658,19.887469,0.000006,0.000011,24.021897,438.961500,72.097313,151.713192,270.133958,268.987850,270.668650,270.079450,2.238372,1406.019583,Kiribati,100

In [ ]:
# Step 1: Drop latitude and longitude (won't be meaningful after aggregation)
df = merged_df_with_land_cover.drop(columns=['latitude', 'longitude'])

# Step 2: Group by 'country' and 'year' and take the mean of all other columns
aggregated_df = df.groupby(['country', 'year'], as_index=False).mean()

# Step 3: Final result
print("Aggregated DataFrame shape:", aggregated_df.shape)
print(aggregated_df.head())

Aggregated DataFrame shape: (2548, 17)
       country  year  CanopInt_inst_annual_avg  ESoil_tavg_annual_avg  \
0  Afghanistan  2010                  0.003434              17.406516
1  Afghanistan  2011                  0.004174              17.658792
2  Afghanistan  2012                  0.004708              19.387013
3  Afghanistan  2013                  0.004051              20.860506
4  Afghanistan  2014                  0.004531              19.445957

   Rainf_tavg_annual_avg  Snowf_tavg_annual_avg  \
0               0.000007           9.650432e-07
1               0.000008           1.733773e-06
2               0.000007           2.634706e-06
3               0.000008           1.361736e-06
4               0.000008           1.729525e-06

   SoilMoi0_10cm_inst_annual_avg  SoilMoi100_200cm_inst_annual_avg  \
0                      16.522271                        240.593605
1                      17.474098                        238.593572
2                      17.885093                        239.145373
3                      18.206896                        241.062339
4                      17.882212                        239.098683

   SoilMoi10_40cm_inst_annual_avg  SoilMoi40_100cm_inst_annual_avg  \
0                       67.114595                       134.640014
1                       67.260410                       132.755216
2                       68.767602                       134.561956
3                       68.528548                       135.918621
4                       68.116610                       134.940831

   SoilTMP0_10cm_inst_annual_avg  SoilTMP100_200cm_inst_annual_avg  \
0                     289.319155                        288.908378
1                     289.398011                        288.918274
2                     288.368113                        288.069227
3                     289.715174                        289.097295
4                     288.845817                        288.418973

   SoilTMP10_40cm_inst_annual_avg  SoilTMP40_100cm_inst_annual_avg  \
0                      289.317581                       289.187112
1                      289.285327                       289.169375
2                      288.356495                       288.237801
3                      289.577175                       289.413866
4                      288.725204                       288.591054

   TVeg_tavg_annual_avg  TWS_inst_annual_avg  land_cover_max
0              0.665504           688.719626           100.0
1              0.293760           684.123852           100.0
2              0.779504           699.515013           100.0
3              0.850076           699.928255           100.0
4              0.668922           695.321333           100.0

In [ ]:
aggregated_df.head()

,country,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,SoilTMP0_10cm_inst_annual_avg,SoilTMP100_200cm_inst_annual_avg,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg,land_cover_max
0,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,289.319155,288.908378,289.317581,289.187112,0.665504,688.719626,100.0
1,Afghanistan,2011,0.004174,17.658792,0.000008,1.733773e-06,17.474098,238.593572,67.260410,132.755216,289.398011,288.918274,289.285327,289.169375,0.293760,684.123852,100.0
2,Afghanistan,2012,0.004708,19.387013,0.000007,2.634706e-06,17.885093,239.145373,68.767602,134.561956,288.368113,288.069227,288.356495,288.237801,0.779504,699.515013,100.0
3,Afghanistan,2013,0.004051,20.860506,0.000008,1.361736e-06,18.206896,241.062339,68.528548,135.918621,289.715174,289.097295,289.577175,289.413866,0.850076,699.928255,100.0
4,Afghanistan,2014,0.004531,19.445957,0.000008,1.729525e-06,17.882212,239.098683,68.116610,134.940831,288.845817,288.418973,288.725204,288.591054,0.668922,695.321333,100.0

In [ ]:
# Merge yield_df with aggregated_df on 'country' and 'year'
final_merged_df = pd.merge(aggregated_df, yield_df, on=['country', 'year'], how='inner')

# Final check
print("Final merged DataFrame shape:", final_merged_df.shape)
print(final_merged_df.head())

Final merged DataFrame shape: (62738, 22)
       country  year  CanopInt_inst_annual_avg  ESoil_tavg_annual_avg  \
0  Afghanistan  2010                  0.003434              17.406516
1  Afghanistan  2010                  0.003434              17.406516
2  Afghanistan  2010                  0.003434              17.406516
3  Afghanistan  2010                  0.003434              17.406516
4  Afghanistan  2010                  0.003434              17.406516

   Rainf_tavg_annual_avg  Snowf_tavg_annual_avg  \
0               0.000007           9.650432e-07
1               0.000007           9.650432e-07
2               0.000007           9.650432e-07
3               0.000007           9.650432e-07
4               0.000007           9.650432e-07

   SoilMoi0_10cm_inst_annual_avg  SoilMoi100_200cm_inst_annual_avg  \
0                      16.522271                        240.593605
1                      16.522271                        240.593605
2                      16.522271                        240.593605
3                      16.522271                        240.593605
4                      16.522271                        240.593605

   SoilMoi10_40cm_inst_annual_avg  SoilMoi40_100cm_inst_annual_avg  ...  \
0                       67.114595                       134.640014  ...
1                       67.114595                       134.640014  ...
2                       67.114595                       134.640014  ...
3                       67.114595                       134.640014  ...
4                       67.114595                       134.640014  ...

   SoilTMP10_40cm_inst_annual_avg  SoilTMP40_100cm_inst_annual_avg  \
0                      289.317581                       289.187112
1                      289.317581                       289.187112
2                      289.317581                       289.187112
3                      289.317581                       289.187112
4                      289.317581                       289.187112

   TVeg_tavg_annual_avg  TWS_inst_annual_avg  land_cover_max  element  \
0              0.665504           688.719626           100.0    Yield
1              0.665504           688.719626           100.0    Yield
2              0.665504           688.719626           100.0    Yield
3              0.665504           688.719626           100.0    Yield
4              0.665504           688.719626           100.0    Yield

   item code (cpc)                          item    value flag
0            01341                        Apples   7000.0    A
1            01343                      Apricots   8172.5    E
2             0115                        Barley   1610.0    A
3            01229  Cantaloupes and other melons  10114.5    E
4            01315                          Figs   4000.0    A

[5 rows x 22 columns]

In [ ]:
final_merged_df.head()

,country,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,...,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg,land_cover_max,element,item code (cpc),item,value,flag
0,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.0,Yield,01341,Apples,7000.0,A
1,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.0,Yield,01343,Apricots,8172.5,E
2,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.0,Yield,0115,Barley,1610.0,A
3,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.0,Yield,01229,Cantaloupes and other melons,10114.5,E
4,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.0,Yield,01315,Figs,4000.0,A

In [ ]:
final_merged_df.isnull().sum()

country                             0
year                                0
CanopInt_inst_annual_avg            0
ESoil_tavg_annual_avg               0
Rainf_tavg_annual_avg               0
Snowf_tavg_annual_avg               0
SoilMoi0_10cm_inst_annual_avg       0
SoilMoi100_200cm_inst_annual_avg    0
SoilMoi10_40cm_inst_annual_avg      0
SoilMoi40_100cm_inst_annual_avg     0
SoilTMP0_10cm_inst_annual_avg       0
SoilTMP100_200cm_inst_annual_avg    0
SoilTMP10_40cm_inst_annual_avg      0
SoilTMP40_100cm_inst_annual_avg     0
TVeg_tavg_annual_avg                0
TWS_inst_annual_avg                 0
land_cover_max                      0
element                             0
item code (cpc)                     0
item                                0
value                               0
flag                                0
dtype: int64

In [ ]:
final_merged_df

,country,year,CanopInt_inst_annual_avg,ESoil_tavg_annual_avg,Rainf_tavg_annual_avg,Snowf_tavg_annual_avg,SoilMoi0_10cm_inst_annual_avg,SoilMoi100_200cm_inst_annual_avg,SoilMoi10_40cm_inst_annual_avg,SoilMoi40_100cm_inst_annual_avg,...,SoilTMP10_40cm_inst_annual_avg,SoilTMP40_100cm_inst_annual_avg,TVeg_tavg_annual_avg,TWS_inst_annual_avg,land_cover_max,element,item code (cpc),item,value,flag
0,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.00000,Yield,01341,Apples,7000.0,A
1,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.00000,Yield,01343,Apricots,8172.5,E
2,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.00000,Yield,0115,Barley,1610.0,A
3,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.00000,Yield,01229,Cantaloupes and other melons,10114.5,E
4,Afghanistan,2010,0.003434,17.406516,0.000007,9.650432e-07,16.522271,240.593605,67.114595,134.640014,...,289.317581,289.187112,0.665504,688.719626,100.00000,Yield,01315,Figs,4000.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62733,Zimbabwe,2021,0.015283,22.604501,0.000013,0.000000e+00,14.270586,239.554960,40.861896,74.049221,...,295.821738,295.642288,7.029131,825.583166,99.72973,Yield,01324,"Tangerines, mandarins, clementines",7669.5,E
62734,Zimbabwe,2021,0.015283,22.604501,0.000013,0.000000e+00,14.270586,239.554960,40.861896,74.049221,...,295.821738,295.642288,7.029131,825.583166,99.72973,Yield,0111,Wheat,5168.0,E
62735,Zimbabwe,2021,0.015283,22.604501,0.000013,0.000000e+00,14.270586,239.554960,40.861896,74.049221,...,295.821738,295.642288,7.029131,825.583166,99.72973,Yield,F1720,"Roots and Tubers, Total",4447.9,E
62736,Zimbabwe,2021,0.015283,22.604501,0.000013,0.000000e+00,14.270586,239.554960,40.861896,74.049221,...,295.821738,295.642288,7.029131,825.583166,99.72973,Yield,F1729,"Treenuts, Total",2183.3,E
62737,Zimbabwe,2021,0.015283,22.604501,0.000013,0.000000e+00,14.270586,239.554960,40.861896,74.049221,...,295.821738,295.642288,7.029131,825.583166,99.72973,Yield,F1735,Vegetables Primary,6585.6,E

In [ ]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62738 entries, 0 to 62737
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           62738 non-null  object
 1   year                              62738 non-null  int64
 2   CanopInt_inst_annual_avg          62738 non-null  float64
 3   ESoil_tavg_annual_avg             62738 non-null  float64
 4   Rainf_tavg_annual_avg             62738 non-null  float64
 5   Snowf_tavg_annual_avg             62738 non-null  float64
 6   SoilMoi0_10cm_inst_annual_avg     62738 non-null  float64
 7   SoilMoi100_200cm_inst_annual_avg  62738 non-null  float64
 8   SoilMoi10_40cm_inst_annual_avg    62738 non-null  float64
 9   SoilMoi40_100cm_inst_annual_avg   62738 non-null  float64
 10  SoilTMP0_10cm_inst_annual_avg     62738 non-null  float64
 11  SoilTMP100_200cm_inst_annual_avg  62738 non-null  float64
 12  SoilTMP10_40cm_inst_annual_avg    62738 non-null  float64
 13  SoilTMP40_100cm_inst_annual_avg   62738 non-null  float64
 14  TVeg_tavg_annual_avg              62738 non-null  float64
 15  TWS_inst_annual_avg               62738 non-null  float64
 16  land_cover_max                    62738 non-null  float64
 17  element                           62738 non-null  object
 18  item code (cpc)                   62738 non-null  object
 19  item                              62738 non-null  object
 20  value                             62738 non-null  float64
 21  flag                              62738 non-null  object
dtypes: float64(16), int64(1), object(5)
memory usage: 10.5+ MB

In [ ]:
final_merged_df.drop(['element','item code (cpc)', 'flag'], axis=1, inplace=True)

In [ ]:
# 1. Define columns to drop and identify feature types
excluded_cols = ['year', 'value']
categorical_cols = ['item', 'country']
numerical_cols = [col for col in final_merged_df.columns if col not in excluded_cols + categorical_cols]

# 2. Split dataset by year
train_data = final_merged_df[final_merged_df['year'] < 2021]
val_data = final_merged_df[final_merged_df['year'] == 2021]

# 3. Extract target variables
train_target = train_data['value'].values
val_target = val_data['value'].values

# 4. Drop unused columns
train_data.drop(['value', 'year'], axis=1, inplace=True)
val_data.drop(['value', 'year'], axis=1, inplace=True)

# 5. Categorical transformer: OneHot only
cat_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# 6. Column transformer: keep numeric + one-hot encoded categorical
column_pipeline = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_cols),
        ('cat', cat_encoder, categorical_cols)
    ]
)

# 7. Full pipeline with scaling after combining
mlp_input_pipeline = Pipeline(steps=[
    ('column_processing', column_pipeline),
    ('scaling', StandardScaler())
])

# 8. Fit and transform
X_train_mlp = mlp_input_pipeline.fit_transform(train_data)
X_val_mlp = mlp_input_pipeline.transform(val_data)

C:\Users\Harshada\AppData\Local\Temp\ipykernel_26512\2503547276.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['value', 'year'], axis=1, inplace=True)
C:\Users\Harshada\AppData\Local\Temp\ipykernel_26512\2503547276.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_data.drop(['value', 'year'], axis=1, inplace=True)

In [ ]:
# 1. Reshape target arrays for scaling
train_target_reshaped = train_target.reshape(-1, 1)
val_target_reshaped = val_target.reshape(-1, 1)

# 2. Initialize and apply StandardScaler
target_scaler = StandardScaler()
train_target_scaled = target_scaler.fit_transform(train_target_reshaped)
val_target_scaled = target_scaler.transform(val_target_reshaped)

In [ ]:
class YieldDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.float32)
        self.y = torch.tensor(y, dtype=torch.float32).view(-1, 1)  # Regression output shape

    def __len__(self):
        return len(self.X)

    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]

In [ ]:
class YieldMLP(nn.Module):
    def __init__(self, input_dim, hidden_layers):
        super(YieldMLP, self).__init__()
        self.model = nn.Sequential(
            nn.Linear(input_dim, hidden_layers[0]),
            nn.ReLU(),
            nn.Linear(hidden_layers[0], hidden_layers[1]),
            nn.ReLU(),
            nn.Linear(hidden_layers[1], 1),
            nn.ReLU()  # Optional: use only if predicting scaled/normalized positive yield
        )

    def forward(self, x):
        return self.model(x)


from torch.utils.data import DataLoader

batch_size = 32

# 1. Create dataset objects
train_dataset = YieldDataset(X_train_mlp, train_target_scaled)
val_dataset = YieldDataset(X_val_mlp, val_target_scaled)

# 2. Create data loaders
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=len(val_dataset), shuffle=False)

In [ ]:
input_size = X_train_mlp.shape[1]
hidden_units = [64, 32]
learning_rate = 0.0001
num_epochs = 10

mlp_model = YieldMLP(input_dim=input_size, hidden_layers=hidden_units)
optimizer = optim.Adam(mlp_model.parameters(), lr=learning_rate)
loss_fn = nn.MSELoss()


best_val_loss = float('inf')
epoch_losses = []

for epoch in range(num_epochs):
    mlp_model.train()
    epoch_train_loss = 0.0

    for X_batch, y_batch in train_loader:
        optimizer.zero_grad()
        predictions = mlp_model(X_batch)
        loss = loss_fn(predictions, y_batch)
        loss.backward()
        optimizer.step()
        epoch_train_loss += loss.item()

    # Validation
    mlp_model.eval()
    with torch.no_grad():
        for X_val_batch, y_val_batch in val_loader:
            val_predictions = mlp_model(X_val_batch)
            val_loss = loss_fn(val_predictions, y_val_batch)

    # Record losses
    avg_train_loss = epoch_train_loss / len(train_loader)
    epoch_losses.append((avg_train_loss, val_loss.item()))

    # Early stopping logic
    if val_loss.item() < best_val_loss:
        best_val_loss = val_loss.item()
        best_model_weights = mlp_model.state_dict()
        best_epoch = epoch
        print(f"Epoch {epoch}: Improved validation loss to {val_loss.item():.4f}")

    if epoch % 10 == 0:
        print(f"Epoch {epoch} | Train Loss: {avg_train_loss:.4f} | Val Loss: {val_loss.item():.4f}")

Epoch 0: Improved validation loss to 0.4815
Epoch 0 | Train Loss: 0.6631 | Val Loss: 0.4815
Epoch 1: Improved validation loss to 0.4247
Epoch 2: Improved validation loss to 0.3765
Epoch 3: Improved validation loss to 0.3400
Epoch 4: Improved validation loss to 0.3125
Epoch 5: Improved validation loss to 0.2948
Epoch 6: Improved validation loss to 0.2863
Epoch 7: Improved validation loss to 0.2740
Epoch 8: Improved validation loss to 0.2646
Epoch 9: Improved validation loss to 0.2636

In [ ]:
# Load best model weights
mlp_model.load_state_dict(best_model_weights)
mlp_model.eval()

# Evaluate on validation set
with torch.no_grad():
    final_val_preds = mlp_model(torch.tensor(X_val_mlp, dtype=torch.float32))
    final_mse = loss_fn(final_val_preds, torch.tensor(val_target_scaled, dtype=torch.float32).view(-1, 1))
    print(f"\nFinal Validation MSE: {final_mse.item():.4f}")

Final Validation MSE: 0.2636

In [ ]:

# Predict using best model
mlp_model.eval()
with torch.no_grad():
    val_preds_scaled = mlp_model(torch.tensor(X_val_mlp, dtype=torch.float32)).numpy()
    val_true_scaled = val_target_scaled  # already a NumPy array

# Inverse transform the scaled predictions and true values
val_preds_unscaled = target_scaler.inverse_transform(val_preds_scaled)
val_true_unscaled = target_scaler.inverse_transform(val_true_scaled)

# Compute evaluation metrics
r2 = r2_score(val_true_unscaled, val_preds_unscaled)
rmse = np.sqrt(mean_squared_error(val_true_unscaled, val_preds_unscaled))
mae = mean_absolute_error(val_true_unscaled, val_preds_unscaled)

# Print results
print(f"Validation R Score: {r2:.4f}")
print(f"Validation RMSE: {rmse:.2f}")
print(f"Validation MAE: {mae:.2f}")

Validation R Score: 0.7596
Validation RMSE: 7441.73
Validation MAE: 5715.68

In [ ]:
# Flatten predictions and ground truth arrays
true_values = val_true_unscaled.flatten()
predicted_values = val_preds_unscaled.flatten()

# Construct DataFrame
validation_results_df = pd.DataFrame({
    'True_Yield': true_values,
    'Predicted_Yield': predicted_values
})

# Preview the results
print(validation_results_df.head())

   True_Yield  Predicted_Yield
0     10600.0      9369.880859
1      7527.9      9369.880859
2      1375.0      9369.880859
3     10663.5      9369.880859
4      4150.5      9369.880859

In [ ]:
validation_results_df.head()

   True_Yield  Predicted_Yield
0     10600.0      9369.880859
1      7527.9      9369.880859
2      1375.0      9369.880859
3     10663.5      9369.880859
4      4150.5      9369.880859

In [ ]:
path = r'C:\Users\Harshada\Downloads\OneDrive_2025-05-07'